/* .heroMain__Style {
  background-image: url("../../../assets/HomeImage/bg.png");
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-repeat: no-repeat;
} */

/* .heroBgImg__Style {
  width: 100%;
  height: 600px;
  position: relative;
} */

.hero_content__Style {
}

.inputField__style {
  padding: 8px 20px;
  width: 100%;
  border: none;
}

.inputField__style:focus {
  outline: none;
}
